 
    <ng-template pTemplate="header">
        <h2>Donor Details</h2>
    </ng-template>

    <div class="donor-container">
      <div class="card" *ngFor="let donor of donordetails">
        <div class="card-header">
          <h2 class="donor-name">{{ donor.donorname }}</h2>
          <div class="blood-group">
            <i class="fas fa-tint"></i>
            {{ donor.bloodgroup }}
          </div>
        </div>
        <div class="card-body">
          <div class="donor-details">
            <div class="contact">
              <i class="fa fa-phone"></i>
              <span>{{ donor.mobileno }}</span>
            </div>
            <div class="location">
              {{ donor.city }}, {{ donor.statename }}
            </div>
          </div>
          <div class="medical-conditions">
            <div [ngClass]="{'strikethrough': donor.anemia.toLowerCase() === 'no'}" class="condition-item">
              <i class="fas fa-tint"></i>
              <span>Anemia</span>
            </div>
            <div [ngClass]="{'strikethrough': donor.hiv.toLowerCase() === 'no'}" class="condition-item">
              <i class="fas fa-virus"></i>
              <span>HIV</span>
            </div>
            <div [ngClass]="{'strikethrough': donor.bp.toLowerCase() === 'no'}" class="condition-item">
              <i class="fas fa-heartbeat"></i>
              <span>BP</span>
            </div>
            <div [ngClass]="{'strikethrough': donor.alcohol.toLowerCase() === 'no'}" class="condition-item">
              <i class="fas fa-wine-glass-alt"></i>
              <span>Alcohol</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
          