<p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
        <img src="assets/images/blood-donation.svg" class="img-responsive" alt="Blood Donation">
    </ng-template>
    <ng-template pTemplate="end">
        <b>{{currentDateTime }}</b>
    </ng-template>
</p-menubar>
<div class="card">
    <p-splitter
    layout="vertical"
    [panelSizes]="[50, 50]"
    [style]="{ height: '100vh', backgroundColor: '#FFFFFF' }">
    
    <!-- Upper Vertical Section -->
    <ng-template pTemplate>
        <p-splitter
            layout="horizontal"
            [panelSizes]="panelSizes"
            [style]="{ height: '100%', backgroundColor: '#F8F9FA' }">
            <ng-template pTemplate>
                    <div class="dock-window" style="background-color: brown">
                        <p-dock [model]="mainMenuDockItems" position="left">
                            <ng-template pTemplate="item" let-item>
                                <img [src]="item.icon" alt="{{item.label}}" [title]="item.label" width="100%"/>
                            </ng-template>
                        </p-dock>
                    </div>
            </ng-template>
            <ng-template pTemplate>
                <div style="flex-grow: 1;" class="flex align-items-center justify-content-center">
                    <app-blooddata></app-blooddata>
                </div>
            </ng-template>
        </p-splitter>
    </ng-template>
    
    <ng-template pTemplate>
        <div *ngIf="showDonateBlood" id="donateBloodPanel">
            <div class="col flex align-items-center justify-content-center">
                <app-adddonor></app-adddonor>
            </div>
        </div>
        <div *ngIf="viewDonorDetails" id="viewDonorsPanel">
            <div class="col flex align-items-center justify-content-center">
                <app-viewdonor></app-viewdonor>
            </div>
        </div>
        <div *ngIf="checkEligibilty" id="checkEligibilityPanel">
            <div class="col flex align-items-center justify-content-center">
                <app-checkeligibility></app-checkeligibility>
            </div>
        </div>
        <div *ngIf="isBloodRequested" id="requestBloodPanel">
            <div class="col flex align-items-center justify-content-center">
                <app-bloodrequest></app-bloodrequest>
            </div>
        </div>
    </ng-template>
</p-splitter>

</div>
<router-outlet></router-outlet>